/* Show line numbers in diff */
div[data-line-number]:not([data-line-number="0"]):before {
  content:attr(data-line-number);
  position:absolute;
  color: #aaa;
  padding: 3px;
  font-size: x-small;
  display: block;
  width: 25px;
}
div[data-line-number]:not([data-line-number="0"]) .line.content {		
  padding-left: 25px;	
  width: calc(100% - 25px);
}
.diff.pane {
  margin-left: 0px;
  padding-left: 0px;
}

